.initially-hidden {
    display: none;
  }
  .header {
    text-align: center;
    font-family: cursive;
    font-weight: 400;
    background-image: url("bckg2.jpg");
    background-size: 80%;
    margin-top: 0;
    padding-top: 20px;
    color: white;
  }
  .pizza-info-toggle {
    display: none;
    cursor: pointer;
  }
  .pizza h4 {
    color: blue;
    cursor: pointer;
    font-weight: bold;
  }